body {
    margin: 0;
    font-family: sans-serif;
}

body.resume {
    margin-top: 50px;
}

.main {
    padding: 20px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #8aaaea;
}

header * {
    display: inline;
    height: 50px;
/*    margin-left: 20px;*/
}

header ul {
    padding: 0;
}

header li,img {
    margin-left: 20px;
}


section {
/*    float: left; this makes the sections line up left to right*/
    height: 100vh;
    border: 2px solid black;
/*    margin-right: 150px; this adds a margin on the right*/
padding-left: 2px;
padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
/*    text-align: center;*/

    background-size: cover;
    background-position: center top;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home .profile-img {
    width: 200px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
/*  content: "";*/
  display: table;
/*  clear: both;*/
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../assets/images/backgrounds/antuco.jpeg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../assets/images/backgrounds/glance.jpeg');
}

#about h2,h3.about {
    text-align: center;
}

#about li {
    padding: 7px;
}

#experiences {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../assets/images/backgrounds/sunset.jpeg');
}

#more {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../assets/images/backgrounds/shore.gif');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../assets/images/backgrounds/silhouette.jpeg');
    text-align: center;
}

.center {
/*  display: block;*/
  margin-left: auto;
/*  margin-right: auto;*/
  width: 10%;
}
