* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .v10_54 {
    width: 100%;
    height: 900px;
    background: rgba(255,255,255,1);
    background-image: url('./cat.png');
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v5_7 {
    width: 585px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 326px;
    left: 650px;
    font-family: Lato;
    font-weight: SemiBold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v2_3 {
    width: 335px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 213px;
    left: 650px;
    font-family: Lato;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v10_72 {
    width: 234px;
    height: 52px;
    background: url("../images/v10_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 1096px;
    overflow: hidden;
  }
  .v10_69 {
    width: 234px;
    height: 52px;
    background: linear-gradient(rgba(246,197,179,1), rgba(48,82,82,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v10_59 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 42px;
    font-family: Lato;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v10_97 {
    width: 234px;
    height: 52px;
    background: url("../images/v10_97.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 540px;
    left: 1106px;
    overflow: hidden;
  }
  .v10_98 {
    width: 234px;
    height: 52px;
    background: linear-gradient(rgba(246,197,179,1), rgba(48,82,82,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v10_99 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 42px;
    font-family: Lato;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v10_100 {
    width: 234px;
    height: 52px;
    /* background: url("./cat\ cafe.jpeg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 632px;
    left: 1116px;
    overflow: hidden;
  }
  .v10_101 {
    width: 234px;
    height: 52px;
    background: linear-gradient(rgba(246,197,179,1), rgba(48,82,82,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v10_102 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 42px;
    font-family: Lato;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  