@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500&family=Montserrat:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ABDA95;
    color: #2E5077;
}

body * {
    text-align: center;
    margin: 0 auto;
}

main {
    width: 75%;
    padding-top: 2rem;
}

nav img {
    filter: opacity(.35) drop-shadow(0 0 0 #2E5077);
    padding-top: 50px;
    padding: 25px;
    height: 40px;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 46pt;
    line-height: 1em;
    color: #AB4962;
    padding-bottom: 25px;
}

em {
    font-size: 14pt;
    color: #AB4962;
}

p {
    font-size: 16pt;
    margin: 20px;
    text-align: left;
    text-indent: 1rem;
}

a {
    color: #AB4962;
    border-width: 5px;
    padding: 10px;
}

nav a:hover {
    filter: invert();
}

footer * {
    text-decoration: none;
    text-align: center;
}

footer p:hover {
    text-decoration: underline;
}

/* @media screen and (max-width: 600px) {
    nav img {
        height: 100px;
    }
} */